#time{
    color: #cfc3c7;
}
.grid > a::after {
    color: #cfc3c7;
}
input[type="text"] {
    color: #cfc3c7;
}
::-webkit-input-placeholder {
    color: #cfc3c7;
}
.search {
    border-bottom: 1px solid #cfc3c7;
}
